*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  margin: 0.1rem;
  padding: 0.1rem;
}
:root{
  --primary-color:#F7E7CE;
  --secondary-color: #FFBF00;
  --terxiary-color:#9F8170;
  --dark-dark-brown:#4A412A;
  --sandy-brown-color:#F4A460;
  --saffron-color:#F4C430;
}
.header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
}

.contacts{
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  margin-bottom: .5em;
  
}
.phone-no, .email, .location{
  display: flex;
  flex-direction: row;
  
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
  width: 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  position: relative;
  align-items: center;
}

.menu-items ul{
  list-style: none; 
  display:flex;
  gap: 100px;
  

}
.menu-items button{
  background-color: var(--saffron-color);

}
.menu-items button:hover{
  transform: scale(1.2);
  background-color: var(--terxiary-color);
}

@media screen and ( max-width:55.45em){
  .contacts{
    margin: 0.3em;
    gap: .5em;
  } 
  .logo{
    font-weight: 700;
    font-size: 1.5em;
    width:40%;
  }
  .menu-items ul{
    gap: 50px;
  }
  
}
@media screen and (max-width:43.75em){
  .contacts{
    margin:0.2em;
    gap: 0.3em;
  }
  .logo{
    font-weight: 600;
    font-size: 1.2em;
    
  }
  .menu-items ul{
    gap: 30px;
  }
}
@media screen and (max-width:34.25em) {
  .logo{
    display: none;
  }
  .location{
    display: none;
  }
  
}
.hero-section{
  background-image:linear-gradient(rgba(1, 1, 1, 0.5)),
    url(/public/herobgi.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.title{
  justify-items: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem; 
  
}


.space-items{
  margin: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}
.space-card{
  width: 30%;
  padding: .5rem;
  justify-items: center;
  align-items: center;
  border: 3px solid var(--sandy-brown-color);
  margin: 1rem;
  border-radius: 1rem;
}
.spaces p {
  color: #4A412A;
  margin-top: .5rem;

}
.spaces h1{
  color: var(--terxiary-color);
}
.spaces h2{
  margin: .5rem;
  color: var(--saffron-color);
  
}
@media screen and (max-width:61.625em) {
  .space-card{
    width: 45%;
  }
  
}
@media screen and (max-width:41.38em) {
  .space-card{
    width: 95%;
  }
  
}
.available-amenities{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5em;
}

.amenity-class{
  justify-items: center;
  text-transform: capitalize;
  width: 30%;
  background-color: var(--primary-color);
  margin: .5em;
  height: 6em;
  padding: 1em;
}
@media screen and (max-width:79.5em) {
  .amenity-class{
    width: 45%;
  }
}
@media screen and (max-width: 52.125em) {
  .amenity-class{
    width: 100%;
  }
  .available-amenities{
    font-size: 2em;
  }
  
}
.amenity-class h1{
  text-transform: capitalize;
  font-weight: 200;

}