*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  margin: 0.1rem;
  padding: 0.1rem;
}
:root{
  --primary-color:#F7E7CE;
  --secondary-color: #FFBF00;
  --terxiary-color:#9F8170;
  --dark-dark-brown:#4A412A;
  --sandy-brown-color:#F4A460;
  --saffron-color:#F4C430;
  --footer-color: #0f0e0e;
  --about-color: #f5ebe0;
  --color-white:white;
}
.header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
}

.contacts{
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  margin-bottom: .5em;
  
}
.phone-no, .email, .location{
  display: flex;
  flex-direction: row;
  
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
  width: 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  position: relative;
  align-items: center;
}

.menu-items ul{
  list-style: none; 
  display:flex;
  gap: 100px;
  

}
.menu-items button{
  background-color: var(--saffron-color);

}
.menu-items button:hover{
  transform: scale(1.2);
  background-color: var(--terxiary-color);
}

@media screen and ( max-width:55.45em){
  .contacts{
    margin: 0.3em;
    gap: .5em;
  } 
  .logo{
    font-weight: 700;
    font-size: 1.5em;
    width:40%;
  }
  .menu-items ul{
    gap: 50px;
  }
  
}
@media screen and (max-width:43.75em){
  .contacts{
    margin:0.2em;
    gap: 0.3em;
  }
  .logo{
    font-weight: 600;
    font-size: 1.2em;
    
  }
  .menu-items ul{
    gap: 30px;
  }
}
@media screen and (max-width:34.25em) {
  .logo{
    display: none;
  }
  .location{
    display: none;
  }
  .email{
    display: none;
  }
  
}
.hero-section{
  background-image:linear-gradient(rgba(1, 1, 1, 0.5)),
    url(/public/herobgi.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}
.hero-text {
  text-transform: uppercase;
  font-size: 2em;
  color:var(--color-white) ;
  border: 1px solid var(--color-white);
  height: 70vh;
}

.hero-text a{
  text-decoration: none;
  background-color:var(--sandy-brown-color) ;
  
}
.title{
  justify-items: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem; 
  
}
.main-title{
  font-size: 2em;
}


.space-items{
  margin: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}
.space-card{
  width: 30%;
  padding: .5rem;
  justify-items: center;
  align-items: center;
  border: 3px solid var(--sandy-brown-color);
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1.5em;
};

.spaces p {
  color: #4A412A;
  margin-top: .5rem;

}
.spaces h1{
  color: var(--terxiary-color);
}
.spaces h2{
  margin: .5rem;
  color: var(--saffron-color);
  
}
@media screen and (max-width:61.625em) {
  .space-card{
    width: 45%;
  }
  
}
@media screen and (max-width:41.38em) {
  .space-card{
    width: 97%;
  }
  
}
.available-amenities{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5em;
}

.amenity-class{
  justify-items: center;
  text-transform: capitalize;
  width: 30%;
  background-color: var(--primary-color);
  margin: .5em;
  height: 6em;
  padding: 1em;
}
.amenity-class h1{
  margin-bottom: 0.5em;
}
@media screen and (max-width:79.5em) {
  .amenity-class{
    width: 45%;
    height: fit-content;
  }

}
@media screen and (max-width: 52.125em) {
  .amenity-class{
    width: 99%;
  }
  .available-amenities{
    font-size: 2em;
  }
  
}
.amenity-class h1{
  text-transform: capitalize;
  font-weight: 200;

}

.conctact-us-items{
  border: 1px solid var(--color-white);
  background-color: var(--saffron-color);
  height: 55vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  margin: 1rem;
}

.heading{
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: .9em;
}
.contact-names{
  display: flex;
  flex-direction: row;
}
.contact-form{
  text-align: center;
  gap: 1em;
}
.contact-form label{
  text-transform: capitalize;
  margin: 1em;
  font-size: 1.5em;
}

.about-us-items{
  display: flex;
  margin: 0.9em;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-color: var(--about-color);
}
@media screen and (max-width:52.5em) {
  .about-us-items{
    display: block;
  }
}
@media screen and (max-width:26.25em) {
  .about-us-items{
    margin: 0.1em
  }
  
}
.footer{
  color: white;
  font-size: 2em;
  margin-top: 1em;
  height: fit-content;
  padding: 1em;
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content{  
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.short-about{
  width: 49%;
}
.footer-content h1{
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: .5em;
  text-transform: capitalize;
}
@media screen and (max-width:56.625em) {
  .short-about h1{
    font-size: 1em;
  }
  
}
@media screen and (max-width:35em) {
  .short-about h1{
     font-size: 1em; 

  }.link h1{
    font-size: 1em;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.short-about p{
  font-size: 1em;
}
.links{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.footer-content a{
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  display: block;

}
.message{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #F4A460;
  
}